body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    background-image: url("images/sunnysky.jpg");
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search {
    width: 400px;
    background: rgba(37, 37, 37, 0.8);
    padding: 20px;
}

#container {
    width:350px;
    height: 70vh;
    background: rgba(000,000,000,0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#weatherInfo {
    height: 100%;
    width: 100%;
    display: flex;
}

#cityInfo {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 81, 128, 0.692);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

#timeDate {
    height: 100%;
    width: auto;
    display: flex;  
}

h1 {
    margin-top: 10px;
    filter: drop-shadow(8px 8px 8px black);
}
h2 {
    font-size: 36px;
    margin: 0px;
    filter: drop-shadow(8px 8px 8px black);
}
h3 {
    filter: drop-shadow(8px 8px 8px black);
    margin: 5px 0;
}
h4 {
    margin: 0 0 10px 0;
    
    padding: 0;
    font-size: 32px;
    color: white;  
}
h5 {
    font-size: 32px;
    margin: 5px 0 0 0;
}
h6 {
    margin: 0;
}

#days {
    width:100%;
    
    height: 100%;
    grid-template-columns: 1fr;
}
#info {
    width: 50%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0, 81, 128), transparent);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.day {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(37, 37, 37), transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day img {
    height: 150px;
    width: auto;
}

.inactive {
    opacity: 0.5;
}

#info h4 {
    font-size: 24px;
}

.label {
    margin: 10px 0 5px 0;
    color: rgb(226, 226, 226);
}

.smallContainer {
    width: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.largeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;

}

.smallerContainer {
    width: 200px;
    display: flex;
    align-items: center;
    
}

.smallerContainer .subText {
    font-size: 24px;
}

.smallerContainer img {
    margin: 0 5px;
}

.subText {
    font-size: 18px;
    font-weight: bold;
}